kiteconnect==4.0.0
pandas
termcolor==1.1.0
openpyxl==3.0.7
certifi==2023.7.22
charset-normalizer==2.0.4
idna==3.7
numpy
python-dateutil==2.8.2
pytz==2021.1
requests==2.31.0
six==1.16.0
urllib3==2.0.7
selenium==4.1.0